body {
  margin: 0px;
}

#mainbody {
  height: 500px;
}

#header {
  background-color: #97252b;
  text-align: center;
  height: 60px;
}

#header h1 {
  margin: auto;
}

#content {
  background-color: #ffffff;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#projects {
  float: left;
  width: 100%;
}

#right-sidebar {
  float: right;
  width: 18%;
  height: 400px;
  clear: both;
  display: none;
}

.firstParagraph {
  margin-top: 100px;
}

a:hover {
  background-color: #99dddd;
  color: black;
}

.project-section div {
  display: inline-block;
  float: left;
  clear: both;
}

.project-section div a {
  display: inline-block;
  float: right;
  clear: both;
}

.project-section div a figure img {
  width: 300px;
  height: 200px;
}

.project-section {
  border-style: solid;
  border-width: 1px;
  padding: 5px; 
  margin: 2px;
  height: auto;
  float: left;
  clear: both;
  width: 100%;
}

/* Too narrow to support three columns */
@media all and (max-width: 1050px) {
  #projects {
    flex-direction: column;
  }

  #projects, #right-sidebar {
    float: none;
  }

  #projects, #right-sidebar {
  /* Return them to document order */
    order: 0;
  }
  
  #projects, #right-sidebar {
    min-height: 50px;
    max-height: 50px;
  }
}
