body {
  margin: 0px;
}

#mainbody {
  height: 500px;
}

#header {
  background-color: #97252b;
  text-align: center;
  height: 60px;
}

#header h1 {
  margin: auto;
}

#header img {
  float: left;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

#content {
  background-color: #ffffff;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#projects {
  float: left;
  width: 100%;
}

.firstParagraph {
  margin-top: 100px;
}

.project-section div {
  display: inline-block;
  float: left;
  clear: both;
}

.project-section div div {
  display: inline-block;
  float: left;
  clear: both;
}

.project-section div div figure img {
  width: 300px;
  height: 200px;
}

.project-section {
  border-style: solid;
  border-width: 1px;
  padding: 5px; 
  margin: 2px;
  height: auto;
  float: left;
  clear: both;
  width: 100%;
}

.project-info p {
  margin-top: 16px;
  margin-bottom: 16px;
}

.runButton {
  cursor: pointer;
  cursor: hand;
}

button.accordion {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none; 
  cursor: pointer;
}

button.accordion:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}

.project-section div div.accordion-panel {
  background-color: #fff;
  padding: 0 18px;
  display: none;
}

/* Too narrow to support three columns */
@media all and (max-width: 1050px) {
  #projects {
    flex-direction: column;
  }

  #projects {
  /* Return them to document order */
    order: 0;
  }
  
  #projects {
    min-height: 50px;
    max-height: 50px;
  }
}
